/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
:root {
    --light-text: rgb(205, 205, 212);
    --bg-dark   : rgb(42, 42, 42);
    --bg-input  : rgb(115 115 115);
}

body {
    position       : relative;
    color          : #ffffff;
    height         : 100vh;
    background     : #000;
    font-family    : sans-serif;
    overflow-y     : hidden;
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin         : 0;
}

button {
    background-color: white;
    padding         : 10px 20px;
    border-radius   : 10px;
    border          : none;
    appearance      : none;
    font-size       : 1.3rem;
    box-shadow      : 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
        0px 18px 88px -4px rgba(24, 39, 75, 0.14);
    transition: transform ease-in 0.1s;
    cursor    : pointer;
}

button:hover {
    transform: scale(1.05);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    height         : fit-content;
    width          : fit-content;
    margin         : 10px;
}

a:hover {
    opacity        : 1;
    text-decoration: none;
}

#root {
    width : 100%;
    height: 100vh;
}

#root>div {
    display        : flex;
    justify-content: space-between;
    flex-direction : row;
    margin         : 0;
}

#details {
    width     : 25vw;
    max-width : 500px;
    min-width : 150px;
    min-height: 100vh;
    max-height: 100vh;
    background: var(--bg-dark);
    padding   : 0;
    z-index   : 1;
    overflow-y: scroll;
}

.details-padding {
    padding: 15px;
}

#details label {
    color  : var(--light-text);
    display: block;
}

#details label+label {
    margin-top: .5em;
}

#details input {
    background-color: #737373;
    border          : 1px solid #111;
    color           : #fff;
    padding         : 2px;
    width           : 100%;
}

#details input[type='number'] {
    width: 50%;
}

#details input[type='checkbox'] {
    position: relative;
    width   : 100%;
    height  : 3em;
    padding : 0;
    margin  : 0;
    opacity : 0;
    cursor  : pointer;
    z-index : 3;
}

#details textarea {
    height: 100px;
    width : 100%;
}

#details input:focus {
    box-shadow: 0 0 10px #75bfff;
    outline   : 1px solid #111;
}

.separator {
    margin  : 1.5em 0 0;
    position: relative;
}

.separator p {
    margin          : 0;
    display         : inline-block;
    background-color: var(--bg-dark);
    z-index         : 1;
}

.separator span {
    border-bottom: 1px solid var(--light-text);
    display      : block;
    width        : 100%;
    position     : absolute;
    top          : 50%;
    transform    : translateY(-50%);
    z-index      : -1;
}

.pos {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
    margin-bottom  : 0.5em;
}

.pos p {
    width        : 100%;
    margin-bottom: 0;
}

.pos label {
    width: 45%;
}

#details .pos label+label {
    margin: 0
}

#details .pos input[type='number'] {
    width: 100%;
}

/* toggle css */
.checkbox {
    margin: 0 0 .5em;
}

.checkbox p {
    color : var(--light-text);
    margin: 0.5em 0 0;
}

.checkbox .rel {
    position: relative;
    width   : 75px;
}

.rel label {
    position: absolute;
    top     : 0;
    right   : 0;
    bottom  : 0;
    left    : 0;
}

.rel label:before,
.rel label:after,
.rel label span {
    position     : absolute;
    top          : 4px;
    width        : 20px;
    height       : 10px;
    font-size    : 10px;
    font-weight  : bold;
    text-align   : center;
    line-height  : 1;
    padding      : 9px 4px;
    border-radius: 2px;
    transition   : 0.3s ease all;
}

.rel label:before {
    content         : '';
    left            : 4px;
    background-color: #F44336;
}

.rel label:after {
    content: 'YES';
    right  : 4px;
    color  : #4e4e4e;
}

.rel label span {
    display: inline-block;
    left   : 4px;
    color  : #fff;
    z-index: 1;
}

.rel .checkbox:checked+label span {
    color: #4e4e4e;
}

.rel .checkbox:checked+label:before {
    left            : 43px;
    background-color: #03A9F4;
}

.rel .checkbox:checked+label:after {
    color: #fff;
}

.rel .checkbox:checked~.layer {
    background-color: #fcebeb;
}

/* end toggle css */

#resizer {
    width           : 5px;
    background-color: rgb(199, 199, 199);
    border          : 1px solid #999;
    border-top      : none;
    border-bottom   : none;
    cursor          : col-resize;
    z-index         : 1;
}

#resizer:active,
#resizer:hover,
#resizer:focus {
    cursor: col-resize;
}

#map {
    flex-grow : 5;
    min-height: 100vh;
    max-height: 100vh;
    overflow  : scroll;
}

#galaxy {
    position: relative;
    border  : 1px solid #f00;
}

#star {
    position: absolute;
}

.radius {
    border-radius: 50%;
    border       : 2px solid rgba(255, 255, 255, .5);
}

.star-centre.active+.radius {
    border: 2px solid rgba(255, 255, 255, 1);
}

.star-centre {
    position        : absolute;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, -50%);
    border-radius   : 50%;
    border          : 2px solid transparent;
    background-color: #ff0;
    z-index         : 5;
}

.planet {
    position       : absolute;
    transform      : translate(-50%, -50%);
    border-radius  : 50%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    z-index        : 5;
}

#galaxy .active {
    border: 2px solid white;
}

#galaxy .star-centre.active {
    border-color: black;
}

#galaxy .star-centre.active:after {
    content      : ' ';
    position     : absolute;
    border-radius: 50%;
    width        : calc(100% + 4px);
    height       : calc(100% + 4px);
    border       : 2px solid white;
    top          : -4px;
    left         : -4px;
}

.planet-centre {
    background-color: #0f0;
    border-radius   : 50%;
    width           : 80%;
    height          : 80%;
    margin          : auto;
}

.connection {
    position        : absolute;
    transform       : translate(-50%, -50%);
    background-color: rgba(185, 185, 165, .75);
}

#galaxy .connection.active {
    border          : none;
    background-color: #fff;
}
